@font-face {
  font-family: "Guardian Sans";
  src: local("Guardian Sans"),
       url("../fonts/GuardianSansRegular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Guardian Sans";
  src: local("Guardian Sans Bold"),
       url("../fonts/GuardianSansBold.otf");
  font-style: normal;
  font-weight: 800;
}
